body {
	margin: 1vw;
	background: linear-gradient(to right, rgba(63,0,74,1) 0%, rgba(0,72,82,1) 100%);
	color: #FE72FF;
	font-family: Lato, sans-serif;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
}

button {
	border: 1px solid #FE72FF;
	background: none;
	color: #FE72FF;
	font-size: 1em;
	font-weight: 300;
	padding: 5px;
}

/*
	Button that opens the find sidebar. Sits below the tag cloud, overlapping
	any trixel displayed all the way over on the right. This is okay because
	trixels are point up.
*/
/* However, it may need to get smaller, especially at small screen sizes
where the trixels get smaller. */
.explorer-button {
	position: absolute;
	right: 2vw;
	font-size: 24px;
	line-height: 0.5;
	width: 30px;
	height: 30px;
	padding: 0;
	padding-bottom: 5px;
}
.explore {
	width: 200px;
	float: right;
	height: 100vw;
	background-color: rgba(254,114,255,0.2);
}

.tag-cloud {
	text-align: center;
}
.tag-cloud-tag {
	padding-left: 2px;
	padding-right: 2px;
}
.tag-cloud-spinner {
	height: 1em;
}
.tag-cloud-error {
	margin-bottom: 5px;
}

.trixel {
	display: inline-block;
	max-width: 45vw;
	margin: 1vw;
}
.trixel-img {
	width: 200px;
	max-width: 100%;
}
.trixel-tags {
	text-align: center;
}
